@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Be Vietnam Pro', serif;
    overflow-y: auto;
    @apply text-inherit;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
}

@layer base {
    :root {
        --background: 0, 0%, 96%;
        --foreground: 0 0% 100%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 226, 94%, 42%;
        --primary-foreground: 225, 67%, 94%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --border-primary-light: 226, 68%, 86%;
        /* custom color */

        /* shadcn sidebar colors */
        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --dark-gray: 15, 2%, 35%;
        --black: 216, 10%, 10%;
        --gray: 15, 1%, 47%;
        --heading: 210 20% 77%;
        --warning: 25 87.8% 51.4%;
        --purple: 236 46.5% 54%;
        --danger: 0 90% 59.9%;
        --pure-white: 0 0% 100%;
        --pure-black: 0 0% 0%;
        --shiny: 117 67.7% 40%;
        --dropdown-bg: 0, 0%, 99%;
        --primary-light: 228, 71%, 97%;
        --secondary-border: 23, 78%, 84%;
        --fg-border: 0, 0%, 91%;
        --primary-white: 226, 94%, 42%;
    }
    .dark {
        --background: 0 0% 7.1%;
        --foreground: 192, 6%, 17%;
        --card: 192, 6%, 17%;
        --card-foreground: 0 0% 98%;
        --popover: 192, 6%, 17%;
        --popover-foreground: 0 0% 98%;
        --primary: 226, 94%, 42%;
        --primary-foreground: 225, 67%, 40%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --border-primary-light: 226, 26%, 34%;
        /* custom color */

        /* shadcn sidebar colros */
        --sidebar-background: 192, 6%, 17%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        --black: 0, 0%, 100%;
        --dark-gray: 0, 0%, 82%;
        --gray: 0, 0%, 76%;
        --warning: 25 87.8% 53%;
        --purple: 236 46.5% 54%;
        --heading: 210 20% 77%;
        --danger: 0 90% 58%;
        --pure-white: 0 0% 100%;
        --pure-black: 0 0% 0%;
        --shiny: 0, 0%, 71%, 0.64;
        --dropdown-bg: 0, 0%, 19%;
        --primary-light: 226, 94%, 14%;
        --secondary-border: 22, 66%, 24%;
        --fg-border: 240, 1%, 26%;
        --primary-white: 0 0% 100%;
    }
}

.simplebar-scrollbar::before {
    background-color: hsla(var(--gray)) !important;
    opacity: 1 !important;
}

.simplebar-track.simplebar-horizontal {
    height: 9px !important;
}
.simplebar-track.simplebar-vertical {
    width: 9px !important;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-50 dark:bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-blue-500 hover:bg-primary dark:hover:bg-pure-white rounded-full;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ================== phone input============== */
.PhoneInputInput {
    outline: none !important;
    background-color: transparent;
}

.PhoneInputCountrySelect {
    max-height: 400px !important;
    size: 5;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
/* circle animation - sign in  */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes skeleton {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

.animated-circle {
    animation: pulse 3s infinite ease-in-out;
}

.animate-skeleton {
    animation: skeleton 2s infinite ease-in-out;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.fullscreen-enabled .my-component {
    background: var(--background);
}

.wmde-markdown {
    color: var(--black) !important;
    background-color: var(--background) !important;
}

.clip-custom {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.profile-clip {
    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .document-container {
        @apply max-w-[1400px] mx-auto w-full;
    }

    .active-tab-design {
        @apply border-b rounded-none data-[state=active]:text-primary-white data-[state=active]:font-semibold data-[state=active]:border-primary data-[state=active]:shadow-none flex items-center gap-1 data-[state=active]:bg-transparent;
    }
}
.message-preview a {
    word-break: break-all !important;
}

.react-tel-input .flag-dropdown .selected-flag:hover {
    background-color: hsl(var(--foreground)) !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: hsl(var(--background)) !important;
}
.react-tel-input .country-list {
    background-color: hsl(var(--background)) !important;
}
body {
    pointer-events: auto !important;
}

.my-container {
    @apply 3xl:w-[90%] 2xl:w-[92%] w-[95%]  mx-auto max-w-[1440px];
}
/* for hiding the anchor tags on the heading tags inside the markdown */
.wmde-markdown h1 a,
.wmde-markdown h2 a,
.wmde-markdown h3 a,
.wmde-markdown h4 a,
.wmde-markdown h5 a,
.wmde-markdown h6 a {
    @apply !hidden;
}

/* code block message preview background color */
